<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Onsite_CTA with Promocode</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>16/10/21 17:40:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Promocode_CTAPopup.PromocodeOnCTAPopup()[pri:0, instance:PromocodeScenarios_CTA.Promocode_CTAPopup@7dc7cbad]">PromocodeOnCTAPopup</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>16/10/21 17:41:17</td>   <td>24015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Promocode_CTAPullout.PromocodeOnCTAPullout()[pri:0, instance:PromocodeScenarios_CTA.Promocode_CTAPullout@548a9f61]">PromocodeOnCTAPullout</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>16/10/21 17:41:40</td>   <td>46859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Promocode_CTAStickybar.PromocodeOnCTAStickybar()[pri:0, instance:PromocodeScenarios_CTA.Promocode_CTAStickybar@1753acfe]">PromocodeOnCTAStickybar</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>16/10/21 17:42:03</td>   <td>69152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Promocode_CTAInline.PromocodeOnInline()[pri:0, instance:PromocodeScenarios_CTA.Promocode_CTAInline@7c16905e]">PromocodeOnInline</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>16/10/21 17:42:26</td>   <td>92131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Promocode_CTABanner.PromocodeOnCTABanner()[pri:0, instance:PromocodeScenarios_CTA.Promocode_CTABanner@2a2d45ba]">PromocodeOnCTABanner</td> 
  <td>main@542060780</td>   <td></td> </tr>
</table>
